<head>
    <title>
        Login failed
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style/login_failed.css">
</head>
<div class="site">
    <div class="sketch">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
    </div>

    <h1>404:
        <small>Page Not Found</small>
    </h1>
</div>