<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="../style/index.css">
    <!-- tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="preloder"></div>
    <!-- <p style="font-family: 'Gotham-Bold'; font-size: 1.2rem; color: #FFC10E;">Registration is now closed.</p> -->
    <div class="m-10">
        <img src="../image/text_thank.png" class="w-80" alt="">
    </div>
    <script>
        var loader = document.getElementById("preloder")
        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
        localStorage.clear();




    </script>
</body>

</html>