<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
        integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="../style/cms.css">
    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />

    <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
  rel="stylesheet"
/>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 100px;">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <img src="../image/logo.png" class="img-fluid" alt="">
            </div>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
            <div class="d-flex justify-content-end">
                <a href="/add" class="btn btn-dark  me-3 fw-bold bg-primary" ><i
                    class="me-2 fa-solid fa-user-plus "></i>เพิ่มสมาชิก</a>
            
                <a href="/cms_logout" class="btn btn-dark   fw-bold bg-danger"><i
                    class="fa-solid me-2 fa-arrow-right-from-bracket"></i>ออกจากระบบ</a>
            </div>
            
          </div>
        </div>
      </nav>
        <!-- Navbar -->
    
    <!-- <nav class="navbar navbar-expand-lg navbar-scroll  shadow-5 border-bottom border-dark">
        <div class="container">
            <div class="d-flex align-items-center">
                <img src="../image/logo.png" class="img-fluid" alt="">
            </div>
            <div class="">
                <ul class="navbar-nav ms-auto">
                    <a href="/add" class="btn btn-dark  me-3 fw-bold bg-primary" ><i
                            class="me-2 fa-solid fa-user-plus "></i>เพิ่มสมาชิก</a>
                    
                    <a href="/cms_logout" class="btn btn-dark   fw-bold bg-danger"><i
                            class="fa-solid me-2 fa-arrow-right-from-bracket"></i>ออกจากระบบ</a>
                    
                </ul>
            </div>
        </div>
    </nav> -->

    <div class="p-3 text-center mt-3">
        <img src="../image/logo02.png" class="mx-2 mb-2 img-fluid" alt="">
        <img src="../image/text-header.png" class="img-fluid" alt="">
    </div>

    <!-- Navbar -->